/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  background-size: cover;
}

.count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  width: 400px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto';
}

.count {
  color: #0b69ff;
  font-size: 40px;
}

.number-category {
  color: #334155;
  font-size: 20px;
  text-align: center;
  margin: 30px;
}

.increment-button {
  color: white;
  font-size: 14px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.note {
  color: #334155;
  font-size: 10px;
}
